include README.md
include requirements.txt
recursive-include custom_image/templates *
recursive-include custom_image/public *
recursive-include custom_image/translations *
recursive-include custom_image/conf *
